            </section>

            <aside>
                {% if stats %}
                    <div class="stats">
                        {{ stats|raw }}
                    </div>
                {% endif %}

                {% if paypal %}
                    <div class="paypal">
                        {{ paypal|raw }}
                    </div>
                {% endif %}
            </aside>
        </main>

        <footer>
            <p class="copyright">
                {{ copyright|raw }}
                Design: Jade Template &copy; Josh Canning 2004 of
                <a href="http://hfs.cjb.net/" target="_blank" rel="nofollow">
                    HFS
                </a>
            </p>

            <aside>
                <ul>
                    <li class="lotgd-source">
                        {{ source|raw }}
                    </li>

                    <li class="lotgd-version">
                        {{ version|raw }}
                    </li>

                    <li class="lotgd-pagegen">
                        {{ pagegen|raw }}
                    </li>
                </ul>
            </aside>
        </footer>
    </body>
</html>
