<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title>{{ title|raw }}</title>
        <link href="/templates/jade.css" rel="stylesheet" type="text/css">
        {{ headscript|raw }}{{ script|raw }}
    </head>

    <body bgcolor="#003800" text="#CCCCCC">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td nowrap valign="top">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td><img name="tlc" src="/templates/jade/tlc.gif" width="10" height="15" border="0" alt=""></td>
                                        <td background="templates/jade/tm.gif"><img name="tm" src="/templates/jade/spacer.gif" width="1" height="1" border="0" alt=""></td>
                                        <td><img name="trc" src="/templates/jade/trc.gif" width="10" height="15" border="0" alt=""></td>
                                    </tr>
                                    <tr>
                                        <td background="templates/jade/tlt.gif"><img name="tlt" src="/templates/jade/spacer.gif" width="1" height="1" border="0" alt=""></td>
                                        <td valign="top" bgcolor="#003800" nowrap><span class="pagetitle">&#149; {{ title|raw }}</span></td>
                                        <td background="templates/jade/trt.gif"><img name="trt" src="/templates/jade/spacer.gif" width="1" height="1" border="0" alt=""></td>
                                    </tr>
                                    <tr>
                                        <td><img name="blc" src="/templates/jade/blc.gif" width="10" height="12" border="0" alt=""></td>
                                        <td background="templates/jade/btm.gif"><img name="btm" src="/templates/jade/spacer.gif" width="1" height="1" border="0" alt=""></td>
                                        <td><img name="brc" src="/templates/jade/brc.gif" width="10" height="12" border="0" alt=""></td>
                                    </tr>
                                </table>
                            </td>
                            <td align="right" valign="top"><img src="/templates/jade/logo.jpg"></td>
                        </tr>
                        <tr>
                            <td valign="top" colspan="2">
                                <div style="float: left;">{{ headerad|raw }}</div>
                                <div align="right">{{ motd|raw }} | {{ mail|raw }} | {{ petition|raw }}<br>{{ petitiondisplay|raw }}<br></div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table border="0" cellpadding="4" cellspacing="0" width="100%">
                        <tr>
                            <td valign="top" width="182">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td><img name="tlc" src="/templates/jade/tlc.gif" width="10" height="15" border="0" alt=""></td>
                                        <td width="100%" background="templates/jade/tm.gif"><img name="tm" src="/templates/jade/spacer.gif" width="1" height="1" border="0" alt=""></td>
                                        <td><img name="trc" src="/templates/jade/trc.gif" width="10" height="15" border="0" alt=""></td>
                                    </tr>
                                    <tr>
                                        <td background="templates/jade/tlt.gif"><img name="tlt" src="/templates/jade/spacer.gif" width="1" height="1" border="0" alt=""></td>
                                        <td valign="top" bgcolor="#003800" class="nav"><div style="position: relative; top: -15;" align="center">{{ navad|raw }}</div><div align="center">{{ nav|raw }}</div></td>
                                        <td background="templates/jade/trt.gif"><img name="trt" src="/templates/jade/spacer.gif" width="1" height="1" border="0" alt=""></td>
                                    </tr>
                                    <tr>
                                        <td><img name="blc" src="/templates/jade/blc.gif" width="10" height="12" border="0" alt=""></td>
                                        <td background="templates/jade/btm.gif"><img name="btm" src="/templates/jade/spacer.gif" width="1" height="1" border="0" alt=""></td>
                                        <td><img name="brc" src="/templates/jade/brc.gif" width="10" height="12" border="0" alt=""></td>
                                    </tr>
                                </table>
                            </td>
                            <td valign="top" width="100%">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
                                    <tr>
                                        <td><img name="tlc" src="/templates/jade/tlc.gif" width="10" height="15" border="0" alt=""></td>
                                        <td width="100%" background="templates/jade/tm.gif"><img name="tm" src="/templates/jade/spacer.gif" width="1" height="1" border="0" alt=""></td>
                                        <td><img name="trc" src="/templates/jade/trc.gif" width="10" height="15" border="0" alt=""></td>
                                    </tr>
                                    <tr height="100%">
                                        <td background="templates/jade/tlt.gif"><img name="tlt" src="/templates/jade/spacer.gif" width="1" height="1" border="0" alt=""></td>
                                        <td valign="top" bgcolor="#003800" class="headrow">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td valign=top align=left width="100%"><div style="float: right">{{ verticalad|raw }}</div>{{ bodyad|raw }}