<!DOCTYPE html>
<html lang="en"> {# @todo Locale/language stuff #}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ title|raw }}</title>
        {# @todo <link href="/css/lotgd.css" rel="stylesheet"> #}
        {{ headscript|raw }}{{ script |raw }}
    </head>

    <body>
        <header>
            <div class="branding">
                {{ title|raw }}
            </div>
        </header>

        <main>
            <section>
                {% if tlbutton_pop %}
                    <div class="tlbutton">
                        {{ tlbutton_pop|raw }}
                    </div>
                {% endif %}
